.big-container {
    width: 100vw;
    height: 100vh;
}

.green-bg {
    width: 100vw;
    height: 20vh;
    background-color: #009688;
}

.lightgrey-bg {
    width: 100vw;
    height: 80vh;
    background-color: #DADBD4;
}

.lightgrey-app-bg {
    background-color: #EAEAEA;
}

.notification-column-bg {
    background-color: #8EDAFC;
}

.messages-area-bg {
    background-image: url("../img/mine.jpg");
}

.new-chat-bg {
    background-color: #FAFAFA;
}

.sent-message-bg {
    background-color: #D5F9BA;
}

.icons-color {
    color: #989898;
}

.dark-font {
    color: #5F687D;
}

.smaller {
    color: #838790;
    font-size: 0.8em;
}

.bigger {
    font-size: 1.2em;
}

.bell-container {
    width: 43px;
    height: 43px;
    background-color: white;
}

.my-border {
    border: 1px dashed black;
}

.h-8 {
    height: 8%;
}

.h-10 {
    height: 10%;
}

.h-74 {
    height: 74%;
}

.h-84 {
    height: 84%;
}

.h-90 {
    height: 90%;
}

.max-width-messages {
    max-width: 75%;
}