.big-container {
    width: 100vw;
    height: 100vh;
}

.green-bg {
    width: 100vw;
    height: 20vh;
    background-color: #009688;
}

.lightgrey-bg {
    width: 100vw;
    height: 80vh;
    background-color: #DADBD4;
}

.lightgrey-app-bg {
    background-color: #EAEAEA;
}

.notification-column-bg {
    background-color: #8EDAFC;
}

.icons-color {
    color: #989898;
}

.smaller {
    color: #838790;
    font-size: 0.8em;
}

.bell-container {
    width: 43px;
    height: 43px;
    background-color: white;
}

.my-border {
    border: 1px dashed black;
}

.h-8 {
    height: 8%;
}

.h-10 {
    height: 10%;
}

.h-74 {
    height: 74%;
}

.h-84 {
    height: 84%;
}

.h-90 {
    height: 90%;
}